.container {
   width: 100%;
}

.inner {
    width: 1000px;
    margin: 0 auto;
}

.clip-path-header {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    --webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.clip-path-other {
    clip-path: polygon(0 90%, 50% 100%, 100% 90%, 100% 0, 50% 10%, 0 0);
    --webkit-clip-path: polygon(0 90%, 50% 100%, 100% 90%, 100% 0, 50% 10%, 0 0);
}

.header-background-black {
    background-color: rgba(0, 0, 0, 0.8);
}

.header-padding {
    padding: 30px 0 150px 0;
}

.header {
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background-color: #ffffff;
    padding: 37px 0;
}

.navbar-flex {
   display: flex;
   justify-content: space-between; 
   align-items: center;
}

.navbar-logo {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #424f57;
}

.navbar-logo-blue {
    font-weight: 700;
    color: #14afca;
}

.navbar-links {
    display: flex;
    color: #3e4c4e;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.navbar-links-element {
    margin-left: 50px;
    text-decoration: none;
    color: #3e4c4e;
}

.navbar-links-element:first-child {
   color: #14afca;
}

.navbar-links-element:hover {
    color: #14afca;
}

.header-text {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 52px;
    line-height: 75px;
    margin-top: 170px;
    text-align: center;
}

.sectionwhat {
    padding: 110px 0 150px 0;
    text-align: center;
}

.section-caption {
    color: #14afca;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}

.sectionwhat-description {
    color: #424f57;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}

.sectionwhat-description2 {
    color: #424f57;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 30px;
}

.sectioncompanies {
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.sectioncompanies-background-black {
    background-color: rgba(0, 0, 0, 0.8);
}

.sectioncompanies-padding {
    padding: 145px 0 175px 0;
    text-align: center;
}

.sectioncompanies-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 45px;
    color: #ffffff;
} 

.sectioncompanies-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 95px auto;
    grid-row-gap: 100px;
    justify-content: space-between; 
    align-items: center;
}

.sectioncompanies-grid-element {
    background-color: #fff;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #231f20;
}

.sectioncompanies-grid-element > img {
    padding: 10px;
}

.sectionmeetus {
    text-align: center;
    padding: 95px 0 100px 0;
}

.sectionmeetus-description {
    color: #424f57;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 45px;
}

.sectionmeetus-flex {
    display: flex;
    justify-content: space-between; 
}

.sectionmeetus-flex-element {
    width: 280px;
}

.sectionmeetus-flex-description {
    color: #424f57;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 28px;
    margin-top: 35px;
}

.sectiontestimonials {
    background-image: url(../img/bg3.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.sectiontestimonials-background-black {
    background-color: rgba(0, 0, 0, 0.7);
}

.sectiontestimonials-padding {
    padding: 180px 0 160px 0;
    text-align: center;
}

.sectiontestimonials-description {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 45px;
}

.sectiontestimonials-text {
    color: #d3cccc;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
    width: 877px;
    margin: 0 auto;
}

.sectiontestimonials-text-description {
    color: #ffffff;
    font-size: 18px;
    text-align: right;
    margin: 25px 100px 0 0;
}

.footer {
    padding: 80px 0 100px 0;
    text-align: center;
}

.footer-description {
    color: #424f57;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 45px;
}

.footer-text {
    color: #424f57;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    width: 780px;
    margin: 0 auto 110px auto;
}

.footer-copyright {
    color: #3d3c3c;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 24px;
    width: 385px;
    margin: 0 auto;
}

.footer-copyright-bold {
    font-size: 16px;
    font-weight: 700;
}